

#banner img {

    width: auto;
    height: auto;
    max-height: 70em;
    max-width: 132em;
}

#marcas h2 {  
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background-color: rgba(204, 204, 204, 0.5);
    height: 30em;
        display: grid;
        grid-template-columns: auto;
        align-items: center;   
        
        
    }

 

    #marcastitulos{
        padding: 50px;
        margin: 10px;
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
        
        a :hover{

            transform: translate(10px, 20px);
            }
    }



#quienes-somos {
    background-color: rgb(252, 247, 247);
    border: solid 5px rgba(192, 192, 192, 0.473);
    padding: 20px;
    margin: 3px;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2em;
        font-weight: 900;
        text-align: left; 
    }
    
    
        
}



#tituloytexto {

    width: 30%;
    text-align: justify;


    #nuestroartista {
        padding: 20px;
        margin: 20px;
    }
    
}


    @media screen and (min-width: 768px) {
        body {
                background-color: #000000;
          }
    }
    